{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>All Series</title>
</head>
<body>
    <header>
        <div class="header-left">
            <form action="{% url 'search-series' %}" method="get" class="search-form">
                <img src="{% static 'img/magnifying-glass.png' %}" alt="Search" style="width: 20px; vertical-align: middle; margin-right: 10px;">
                <input type="text" name="q" placeholder="Search series..." class="search-bar">
            </form>
        </div>
        <div class="header-center">
            <h1>All Series</h1>
        </div>
        <div class="header-right">
            <nav>
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/film.png' %}" alt="Home" style="width: 24px; vertical-align: middle; margin-right: 5px;">
                    Films
                </a>
                <a href="{% url 'series' %}">
                    <img src="{% static 'img/tv-show.png' %}" alt="Series" style="width: 24px; vertical-align: middle; margin-right: 5px;">
                    Series
                </a>
                <a href="{% url 'playlist' %}">
                    <img src="{% static 'img/checklist.png' %}" alt="Playlist" style="width: 24px; vertical-align: middle; margin-right: 5px;">
                    Playlist
                </a>
            </nav>
        </div>
    </header>
    
    <main>
        <h2 class="section-title">Series</h2>
        <div class="movie-grid">
            {% for series in series %}
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w500{{ series.poster_path }}" alt="{{ series.title }}" class="movie-poster">
                <div class="movie-info">
                    <h3>{{ series.title }}</h3>
                    <p>{{ series.release_date }}</p>
                    <p>{{ series.description|truncatechars:100 }}</p>
                </div>
                <form action="{% url 'add-to-series-playlist' series.id %}" method="post" class="star-form">
                    {% csrf_token %}
                    <button type="submit" class="add-to-playlist-button {% if series.id in playlists %}favourited{% endif %}">
                        {% if series.id in playlists %}
                        &#9733; <!-- Filled Star -->
                        {% else %}
                        &#9734; <!-- Empty Star -->
                        {% endif %}
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
        
    </main>
    <footer>
        <p>&copy; 2024 MovieStream</p>
    </footer>
</body>
</html>
